body {
  background-color: #000;
  font-size: 13px;
  font-family: Arial, SunSans-Regular, Sans-Serif;
  color:#3D382E;  
  padding:0;
  margin:0;
}

a { 
color: #5786C0;
text-decoration: none; 
}
 

h1 {
font-size: 20px;
color: #57afc0;
padding:5px 15px;
margin:0px
}

h2 {
font-size:16px;
padding-top:10px;
color: #564b47;
background-color: transparent;
}

p, h2, pre {
margin: 0; 
padding: 5px 20px; 
}

#left {
position: absolute;
left: 0;
width: 100px;
}

#content {
margin: 10px 100px;
border: 4px solid #666;
background-color: #fff;    
}

#right {
position: absolute;
right: 0;        
width: 100px;
background-color: #f9c;
}

#footer p{
	color: #fff;
	font-size: 10px;
	text-align: center;
}

svg#display{
	/*width: 100%; I thought we were friends, FF :'( https://bugzilla.mozilla.org/show_bug.cgi?id=342513*/
	height: 80px;
}

.monthScale path,
.monthScale line {
   fill: none;
}

.monthScale{
	font-size: 13px;
}

.yearScale path,
.yearScale line {
   fill: none;
}

.yearScale{
	font-weight:bold;
	font-size: 15px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.textLeft {
	text-align: left;
}

.textRight {
	text-align: right;
}

.entryImg {

	margin-left: 20px;
	margin-right: 20px;
	border: 1px #000 solid;
}

.portEntry{
	padding-top: 20px;
	padding-bottom: 20px;
}

.notTop {
	border-top: 4px solid #666;
}

a.descLink{
	display:block;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}