body {
  background-color: #260B01;
  font-size: 13px;
  font-family: Arial, SunSans-Regular, Sans-Serif;
  color:#3D382E;  
  padding:0;
  margin:0;
}

a { 
color: #ff66cc;
text-decoration: none; 
}
 

h1 {
font-size: 20px;
color: #46594B;
padding:5px 15px;
margin:0px
}

h2 {
font-size:16px;
padding-top:10px;
color: #564b47;
background-color: transparent;
}

p, h2, pre {
margin: 0; 
padding: 5px 20px; 
}

#left {
position: absolute;
left: 0;
width: 100px;
}

#content {
margin: 10px 100px;
border: 2px solid #734F30;
background-color: #D9B384;    
}

#right {
position: absolute;
right: 0;        
width: 100px;
background-color: #f9c;
}

.monthScale path,
.monthScale line {
   fill: none;
}

.monthScale{
	font-size: 13px;
}

.yearScale path,
.yearScale line {
   fill: none;
}

.yearScale{
	font-weight:bold;
	font-size: 15px;
}